[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd
banaction = ufw
ignoreip = {{ fail2ban_ignoreips | join(' ') }}

[sshd]
enabled = true
port    = {{ ssh_port }}
